<div class="row" data-bs-theme="dark">
  <div class="col-sm-3 mb-3 mb-sm-0" *ngFor="let movie of movies">
    <div class="card container-fluid">
      <div class="card position-relative" style="position: relative">
        <button
          type="button"
          class="btn btn-outline-light delete-button"
          (click)="deleteMovie(movie.id)"
        >
          X
        </button>

        <img
          [src]="movie.imageUrl"
          class="card-img-top"
          alt="..."
          (click)="movieDetails(movie.id)"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">
            {{ movie.description | shorten }}
          </p>
          <div class="movie-info">
            <span class="badge rounded-pill text-bg-primary">{{
              movie.genre
            }}</span>
            <span class="badge rounded-pill text-bg-secondary">{{
              movie.language
            }}</span>
            <span [ngClass]="setBadgeColor(movie.rating)"
              >{{ movie.rating }}/10</span
            >
          </div>
        </div>
        <button
          type="button"
          class="btn btn-light edit-button"
          (click)="updateMovie(movie.id)"
        >
          <i class="bi bi-pen-fill" style="color: black"></i>
        </button>
      </div>
    </div>
  </div>
</div>
